In [1]:
import pandas as pd

In [90]:
#load in sales xlsx
sales_df = pd.read_excel('alcsales2017to2020.xlsx', sheet_name='Data')
sales_df

,Year,Month,FIPS,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
0,2017,1,2,1,103645.0,42598,593378,0.0718,NaN,NaN
1,2017,1,8,1,733857.0,301615,4634346,0.0651,NaN,NaN
2,2017,1,12,1,2770686.0,1138752,17722275,0.0643,NaN,NaN
3,2017,1,17,1,1044642.0,429348,10556100,0.0407,NaN,NaN
4,2017,1,21,1,779156.0,320233,3670568,0.0872,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1875,2020,11,25,4,NaN,1201552,5862386,0.2050,0.2108,-0.0279
1876,2020,11,27,4,NaN,874126,4629348,0.1888,0.2220,-0.1493
1877,2020,11,29,4,NaN,1048851,5077875,0.2066,0.2189,-0.0564
1878,2020,11,38,4,NaN,145157,617880,0.2349,0.2593,-0.0940
1879,2020,11,47,4,NaN,1138622,5661532,0.2011,0.1893,0.0626

In [91]:
#types of beverage: 1=spirits, 2=wine, 3=beer, 4=all beverages
#FIPS code: 2=Alaska, 8=Colorado, 12=Florida, 17=Illinois, 21=Kentucky, 25=Massachusetts, 27=Minnesota,
#29=Missouri, 38=North Dakota, 47=Tennessee

#convert type and FIPS to string
sales_df = sales_df.astype({'FIPS': 'object', 'Beverage': 'object'})
sales_df.dtypes

Year              int64
Month             int64
FIPS             object
Beverage         object
Gallons         float64
Ethanol           int64
Population        int64
PerCapita       float64
PerCapita3yr    float64
PctChange       float64
dtype: object

In [92]:
#rename beverages
for index, row in sales_df.iterrows():
    if row.Beverage == 1:
        sales_df.at[index, 'Beverage'] = 'Spirits'
    elif row.Beverage == 2:
        sales_df.at[index, 'Beverage'] = 'Wine'
    elif row.Beverage == 3:
        sales_df.at[index, 'Beverage'] = 'Beer'
    elif row.Beverage == 4:
        sales_df.at[index, 'Beverage'] = 'All Beverages'

#rename FIPS to state names
for index, row in sales_df.iterrows():
    if row.FIPS == 2:
        sales_df.at[index, 'FIPS'] = 'Alaska'
    elif row.FIPS == 8:
        sales_df.at[index, 'FIPS'] = 'Colorado'
    elif row.FIPS == 12:
        sales_df.at[index, 'FIPS'] = 'Florida'
    elif row.FIPS == 17:
        sales_df.at[index, 'FIPS'] = 'Illinois'
    elif row.FIPS == 21:
        sales_df.at[index, 'FIPS'] = 'Kentucky'
    elif row.FIPS == 25:
        sales_df.at[index, 'FIPS'] = 'Massachusetts'
    elif row.FIPS == 27:
        sales_df.at[index, 'FIPS'] = 'Minnesota'
    elif row.FIPS == 29:
        sales_df.at[index, 'FIPS'] = 'Missouri'
    elif row.FIPS == 38:
        sales_df.at[index, 'FIPS'] = 'North Dakota'
    elif row.FIPS == 47:
        sales_df.at[index, 'FIPS'] = 'Tennessee'

sales_df

,Year,Month,FIPS,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
0,2017,1,Alaska,Spirits,103645.0,42598,593378,0.0718,NaN,NaN
1,2017,1,Colorado,Spirits,733857.0,301615,4634346,0.0651,NaN,NaN
2,2017,1,Florida,Spirits,2770686.0,1138752,17722275,0.0643,NaN,NaN
3,2017,1,Illinois,Spirits,1044642.0,429348,10556100,0.0407,NaN,NaN
4,2017,1,Kentucky,Spirits,779156.0,320233,3670568,0.0872,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1875,2020,11,Massachusetts,All Beverages,NaN,1201552,5862386,0.2050,0.2108,-0.0279
1876,2020,11,Minnesota,All Beverages,NaN,874126,4629348,0.1888,0.2220,-0.1493
1877,2020,11,Missouri,All Beverages,NaN,1048851,5077875,0.2066,0.2189,-0.0564
1878,2020,11,North Dakota,All Beverages,NaN,145157,617880,0.2349,0.2593,-0.0940
1879,2020,11,Tennessee,All Beverages,NaN,1138622,5661532,0.2011,0.1893,0.0626

In [48]:
#load in happiness xls
happiness_df = pd.read_excel('worldhappinessdata.xls')
happiness_df

#capitalize and rename columns
happiness_df = happiness_df.rename(columns = {'year': 'Year', 'Positive affect': 'Positive Effect', 'Negative affect': 'Negative Effect'})

happiness_df

In [18]:
spirits_df = pd.read_csv('spirits-consumption-per-person.csv')

#rename fourth column
spirits_df = spirits_df.rename(columns = {'Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Spirits': 'Spirits Consumed (Liters)'})

wine_df = pd.read_csv('wine-consumption-per-person.csv')

#rename fourth column
wine_df = wine_df.rename(columns = {'Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Wine': 'Wine Consumed (Liters)'})

beer_df = pd.read_csv('beer-consumption-per-person.csv')

#rename the fourth column
beer_df = beer_df.rename(columns = {'Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Beer': 'Beer Consumed (Liters)'})

In [93]:
#send cleaned dataframes to new csvs
happiness_df.to_csv('cleaned_happiness.csv', index=False)
sales_df.to_csv('cleaned_sales.csv', index=False)

In [19]:
spirits_df.to_csv('cleaned_spirits.csv', index=False)
wine_df.to_csv('cleaned_wines.csv', index=False)
beer_df.to_csv('cleaned_beers.csv', index=False)